<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="2">
  
  <listeners>
    <listener class-name="Utilities.ExtentReportManager" />
  </listeners>
  
  <test name="ChromeTests">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="TestCases.TC001_LaunchApplication"/>
      <class name="TestCases.TC002_BookNowRequest"/>
      <class name="TestCases.TC003_SuperAdminLogin"/>
    </classes>
  </test>
  
  <test name="FirefoxTests">
    <parameter name="browser" value="firefox"/>
    <classes>
      <class name="TestCases.TC001_LaunchApplication"/>
      <class name="TestCases.TC002_BookNowRequest"/>
      <class name="TestCases.TC003_SuperAdminLogin"/>
    </classes>
  </test>

</suite>
